{% comment %}
*
*  http://stackoverflow.com/questions/9612235/what-are-some-good-ways-to-implement-breadcrumbs-on-a-jekyll-site
*
{% endcomment %}
<nav role="navigation" aria-label="You are here:">
  <ol class="breadcrumb" itemprop="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ site.baseurl }}{% if page.lang != nil %}/{{ page.lang }}{% endif %}/">Home</a></li>
    {% if page.parent_path != nil %}
      {% assign page_url = page.parent_path | append: '/ /' %}
    {% else %}
      {% assign url_prefix = '/' | append: page.lang | append: '/' %}
      {% assign page_url = page.url | replace: url_prefix, '/' %}
    {% endif %}
    {% assign crumbs = page_url | split: '/' %}
    {% for crumb in crumbs offset: 1 %}
      {% if forloop.last %}
        <li class="breadcrumb-item active">{{ page.title }}</li>
      {% else %}
        {% assign crumb_limit = forloop.index | plus: 1 %}
        <li class="breadcrumb-item"><a href="{{ site.baseurl }}{% if page.lang != nil %}/{{ page.lang }}{% endif %}{% for crumb2 in crumbs limit: crumb_limit %}{{ crumb2 | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' }}</a></li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>
