        <div class="container{% if include.auto_lang %} auto-lang {{ include.lang }}{% endif %}">
          <div class="row">
          {% if site.logo_footer %}
            <div class="col-md-2 col-lg-1 d-none d-md-block">
              <h5><a class="logo" href="{{ site.baseurl }}/{% if include.lang != nil %}{{ include.lang }}/{% endif %}aspectran/" title="{{ site.title }}"><img src="{{ site.baseurl }}/assets/img/{{ site.logo_footer }}" width="100" height="100" title="{{ site.title }}"/></a></h5>
            </div>
            <div class="col-md-6 col-lg-4">
          {% else %}
            <div class="col-md-8 col-lg-5">
          {% endif %}
              <a href="{{ site.baseurl }}/{% if include.lang != nil %}{{ include.lang }}/{% endif %}aspectran/"><h5>{{ site.data.messages[include.lang].about_aspectran }}</h5></a>
              <p><a href="{{ site.baseurl }}/{% if include.lang != nil %}{{ include.lang }}/{% endif %}aspectran/">{{ site.data.messages[include.lang].aspectran_teaser }}</a></p>
          {% if site.logo_footer %}
            </div>
          {% else %}
            </div>
          {% endif %}

            <div class="col-sm-6 col-md-4 mx-lg-auto">
              {% for network_item in site.data.network_en limit: 1 %}
                <h5>{{ network_item.title }}</h5>
              {% endfor %}
              <ul class="list-unstyled">
              {% for network_item in site.data.network_en offset: 1 %}
                {% if network_item.url contains 'http' %}{% assign domain = '' %}{% else %}{% assign domain = site.baseurl %}{% endif %}
                <li {% if network_item.class %}class="{{ network_item.class }}" {% endif %}> <a href="{{ domain }}{{ network_item.url }}" {% if network_item.url contains 'http' %}target="_blank" {% endif %} title="{{ network_item.title }}">{{ network_item.name }}</a></li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>
