    <div class="grid-container{% if page.format contains 'fluid' %} fluid{% endif %}">
      <div id="up-to-top" class="grid-x">
        <div class="cell" style="text-align: right;">
          <a class="iconfont" href="#top-of-page">&#xf108;</a>
        </div>
      </div><!-- /.grid-x -->
    </div>

    <footer id="footer-content">

      {% if page.lang == 'ko' %}
        {% include _footer-content_ko.liquid %}
      {% else %}
        {% include _footer-content_en.liquid %}
      {% endif %}

      <div id="subfooter">
        <div class="grid-container">
          <nav class="grid-x">
            <section id="subfooter-left" class="medium-6 cell">
              <p class="credits">Copyright © 2008-2025 The Aspectran Project</p>
            </section>

            <section id="subfooter-right" class="medium-6 cell">
              {% if site.data.socialmedia != nill %}
              <ul class="social-icons">
                {% for social_item in site.data.socialmedia %}
                <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
                {% endfor %}
              </ul>
              {% endif %}

              {% if page.lang != nil %}
              <ul class="lang-options">
                {% for lang in site.lang_order %}
                  {% assign url_prefix = '/' | append: page.lang | append: '/' %}
                  {% assign page_url = page.url | replace: url_prefix, '/' %}
                  {% assign page_url = '/' | append: lang | append: page_url %}
                  <li{% if page.lang == lang %} class="active"{% endif %}><a href="{{ site.url }}{{ site.baseurl }}{{ page_url }}" title="{{ site.languages[lang] }}" class="choice-preferred-lang" lang="{{ lang }}">{{ site.languages[lang] }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
            </section>

          </nav>
        </div>
      </div><!-- /#subfooter -->
    </footer><!-- /#footer-content -->
