<ul class="lang-switcher{% if include.auto_lang %} auto-lang {{ include.lang }}{% endif %}">
  {% for lang in site.lang_order %}
    {% assign url_prefix = '/' | append: include.lang | append: '/' %}
    {% assign blog_page_url_prefix = '/' | append: lang | append: site.blog_page_url_prefix %}
    {% assign page_url = page.url | replace: url_prefix, '/' %}
    {% assign page_url = '/' | append: lang | append: page_url %}
    {% assign page_url = page_url | replace: blog_page_url_prefix, site.blog_page_url_prefix %}
    <li{% if include.lang == lang %} class="active"{% endif %}><a href="{{ site.url }}{{ page_url }}" title="{{ site.languages[lang] }}" lang="{{ lang }}">{{ site.languages[lang] }}</a></li>
  {% endfor %}
</ul>
