{% capture widget_url %}{% if include.widget.url contains 'http' %}{{ include.widget.url }}{% else %}{{ site.baseurl }}{{ include.widget.url }}{% endif %}{% endcapture %}
<div class="grid-x grid-padding-x">
  <div class="small-3 medium-3 cell t5">
  	<a href="{{ widget_url }}">
  		{% if include.widget.image %}
  			{%comment%}TODO lazy loading{%endcomment%}
  			{%comment%}<img class="lazy" data-src="{{ site.urlimg }}{{ include.widget.image }}" width="100%" alt="" />{%endcomment%}
  			{%comment%}<noscript>{%endcomment%}
  			<img class="rounded" src="{{ site.urlimg }}{{ include.widget.image }}" width="100%" alt="{{ site.title }}" />
  			{%comment%}</noscript>{%endcomment%}
  		{% endif %}
  		{% if include.widget.video %}{{ include.widget.video }}{% endif %}
  	</a>
  </div>
  <div class="small-12 medium-4 cell">
    <p>
      {{ include.widget.title }}<br/>
      <a href="https://github.com/aspectran/aspectran/actions?query=workflow%3A%22Java+CI%22" target="_blank" title="Build Status"><img src="https://github.com/aspectran/aspectran/workflows/Java%20CI/badge.svg" alt=""/></a>
      <a href="https://github.com/aspectran/aspectran" target="_blank" title="Apache License 2.0"><img src="https://img.shields.io/badge/license-Apache%202-red.svg" alt=""/></a>
    </p>
    <p class="show-for-small-only"><a class="button radius small" href="{{ widget_url }}">{% if include.widget.button_text %}{{ include.widget.button_text }}{% else %}{{ site.data.lang[page.lang].details }}{% endif %}</a></p>
  </div>
  <div class="small-9 medium-5 cell">
  	<p>{{ include.widget.text }}</p>
  </div>
</div>
