{% capture widget_url %}{% if include.widget.url contains 'http' %}{{ include.widget.url }}{% else %}{{ site.baseurl }}{{ include.widget.url }}{% endif %}{% endcapture %}
<div class="panel panel5">
  {% if include.widget.image or include.widget.video %}
  <a href="{{ widget_url }}">
    {% if include.widget.image %}
      <img class="card-img-top" src="{{ site.urlimg }}{{ include.widget.image }}" alt="{{ include.widget.title | escape_once }}" />
    {% endif %}
    {% if include.widget.video %}
      <div class="ratio ratio-16x9">
        {{ include.widget.video }}
      </div>
    {% endif %}
  </a>
  {% endif %}
  <div>
    <h4><a href="{{ widget_url }}" class="text-decoration-none">{{ include.widget.title }}</a></h4>
    <p class="mb-1"><a href="{{ widget_url }}" class="text-decoration-none text-muted">{{ include.widget.text }}</a></p>
  </div>
</div>
