{% if page.format contains "plate" or page.format contains "compact" or page.format contains "article" %}


  <div id="masthead"{% if page.format contains 'compact' %} class="masthead-compact"{% endif %}>
    <div class="container{% if page.format contains 'fluid' %} fluid{% endif %}">
      <header>
      {% if page.inside_heading != true %}
        {% if page.headline %}
        <p class="subheadline" itemprop="alternativeHeadline">{% if page.subheadline %}{{ page.subheadline }}{% else %}&nbsp;{% endif %}</p>
        {% endif %}
        {% if page.title or page.headline %}
        <h1 itemprop="headline">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
        {% endif %}
        {% if page.teaser %}
        <p class="teaser" itemprop="description">
          {{ page.teaser }}
        </p>
        {% endif %}
      {% endif %}
      </header>
      {% unless page.header.image_fullwidth %}
      <div class="hexagons">
        <div class="hexagon hex1"></div>
        <div class="hexagon hex2"></div>
        <div class="hexagon hex3"></div>
        {% unless page.format contains 'compact' and page.title == nil %}
        <div class="hexagon hex5"></div>
        <div class="hexagon hex6"></div>
        {% endunless %}
      </div>
      {% endunless %}
    </div>
    <div class="container breadcrumb-bar">
      {% if page.breadcrumb == true %}
        {% include _breadcrumb.liquid %}
      {% else %}
        &nbsp;
      {% endif %}
    </div>
  </div>


{% elsif page.header.image_fullwidth or page.header.slide_images %}


  <div id="masthead" class="masthead-with-image">
    <div class="container{% if page.format contains 'fluid' %} fluid{% endif %}">
      <header>
      {% if page.inside_heading != true %}
        <p class="headline" itemprop="alternativeHeadline">{% if page.headline %}{{ page.headline }}{% else %}&nbsp;{% endif %}</p>
        <h1 itemprop="headline">{{ page.title }}</h1>
        {% if page.teaser %}
        <p class="teaser" itemprop="description">
          {{ page.teaser }}
        </p>
        {% endif %}
      {% endif %}
      </header>
    </div>
  </div>
  {% if page.breadcrumb == true %}
    <div class="container breadcrumb-bar">
        {% include _breadcrumb.liquid %}
    </div>
  {% endif %}


{% else %}


{% if page.breadcrumb == true %}
<div id="masthead" class="no-header">
  <div class="container breadcrumb-bar">
    {% include _breadcrumb.liquid %}
  </div>
</div>
{% endif %}


{% endif %}
