{% assign navigation = site.data.navigation[include.lang] | default: site.data.navigation[site.default_lang] %}
<ul class="navbar-nav{% if include.auto_lang %} auto-lang {{ include.lang }}{% endif %}">
  {% for item in navigation %}
    {% if item.side == 'right' %}

      {% if item.url contains 'http' %}
        {% assign domain = '' %}
      {% elsif item.url == '#' %}
        {% assign domain = '' %}
      {% else %}
        {% assign domain = site.url %}
      {% endif %}

      {% if item.dropdown == nil %}
        <li class="nav-item{% if page.url contains item.url %} active{% endif %}">
          <a class="nav-link {{ item.class }}" href="{{ item.url }}"{% if item.url contains 'http' %} target="_blank"{% endif %}>{{ item.title | escape }}</a>
        </li>
      {% else %}
        <li class="nav-item dropdown{% if page.url contains item.url %} active{% endif %}">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" href="{{ item.url }}"{% if item.url contains 'http' %} target="_blank"{% endif %}>{{ item.title | escape }}</a>
          <ul class="dropdown-menu">
            {% for dropdown_item in item.dropdown %}
              {% if dropdown_item.title == '-' %}
                <li><hr class="dropdown-divider"/></li>
              {% else %}
                <li>
                  <a class="dropdown-item {{ dropdown_item.class }}" href="{{ dropdown_item.url }}"{% if dropdown_item.url contains 'http' %} target="_blank"{% endif %}>
                    {{ dropdown_item.title | escape }}
                  </a>
                </li>
              {% endif %}
              {% if dropdown_item.sub_items %}
                {% for sub_item in dropdown_item.sub_items %}
                  <li>
                    <a class="dropdown-item sub-item ps-3 bi bi-arrow-return-right {{ sub_item.class }}" href="{{ sub_item.url }}"{% if sub_item.url contains 'http' %} target="_blank"{% endif %}>
                      {{ sub_item.title | escape }}
                    </a>
                  </li>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>