<nav id="navigation" class="no-js">
  <div class="title-bar" data-responsive-toggle="gnb-menu" data-hide-for="large" style="display:none">
    <div class="title-bar-left">
      <a class="logo" href="{{ site.baseurl }}/{% if page.lang != nil %}{{ page.lang }}/{% endif %}" title="{{ site.title }}"><img src="{{ site.baseurl }}/assets/img/{{ site.logo_img }}" alt="Aspectran"/></a>
    </div>
    <div class="title-bar-center">
      <a href="#top-of-page">{{ site.title }}</a>
    </div>
    <div class="title-bar-right" data-toggle="gnb-menu">
      <a class="menu-icon" title="Menu"></a>
    </div>
  </div>
  <div class="top-bar" id="gnb-menu" style="display:none">
    <div class="grid-container{% if page.format contains 'fluid' %} fluid{% endif %}">
      <div class="top-bar-logo">
        <div class="circle">
          <a class="logo" href="{{ site.baseurl }}/{% if page.lang != nil %}{{ page.lang }}/{% endif %}" title="{{ site.title }}"><img src="{{ site.baseurl }}/assets/img/{{ site.logo_img }}" alt="Aspectran"/></a>
        </div>
      </div>


  {% if page.auto_lang != nil %}
    {% for lang in site.lang_order %}
      {% include _navigation-top-bar-inner.liquid lang=lang auto_lang=true %}
    {% endfor %}
  {% else %}
    {% include _navigation-top-bar-inner.liquid lang=page.lang %}
  {% endif %}


    </div>
    {% if page.breadcrumb == true %}
      <div class="breadcrumbs-bar">
        <div class="grid-container">
          {% include _breadcrumb.liquid %}
        </div>
      </div>
    {% endif %}
  </div>
</nav>
