{% comment %}
*  This loops through the paginated posts
*
*  Total posts: {{ paginator.total_posts }}
*  Total paginate-pages: {{ paginator.total_pages }}
*
{% endcomment %}

{% assign posts = paginator.posts | where: 'lang', page.lang | sort: 'date' %}

<div class="grid-x">
  {% for post in posts %}
  <div class="cell b30 auto-lang {{ post.lang }}">
    <p class="subheadline"><span class="subheader">{% if post.categories %}{{ post.categories | join: ' &middot; ' }}{% endif %}</span>{% if post.headline %} – {{ post.headline }}{% endif %}</p>
    <h3 class="underline"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
    <p>
      {% if post.image.thumb %}<a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape_once }}"><img src="{{ site.urlimg }}{{ post.image.thumb }}" class="alignleft" width="150" height="150" alt="{{ page.title | escape_once }}"></a>{% endif %}
      {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% elsif post.teaser %}{{ post.teaser | strip_html | escape }}{% elsif post.excerpt %}{{ post.excerpt | strip_html | escape }}{% endif %}
      <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape_once }}"><small>{{ site.data.language.read_more }}</small></a>
    </p>
  </div>
  {% endfor %}
</div>

<div id="pagination">
  <ul class="pagination text-center" role="navigation" aria-label="Pagination">
    {% if paginator.previous_page %}
      <li class="pagination-previous"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous page">Previous</a></li>
    {% else %}
      <li class="pagination-previous disabled">Previous</li>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <li class="current">{{ page }}</li>
      {% elsif page == 1 %}
        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Page {{ page }}">{{ page }}</a></li>
      {% else %}
        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" aria-label="Page {{ page }}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <li class="pagination-next"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next page">Next</a></li>
    {% else %}
      <li class="pagination-next disabled">Next</li>
    {% endif %}
  </ul>
</div>
