---
title: 프로젝트
format: plate
teaser: Aspectran으로 구축된 실용적인 애플리케이션을 살펴보세요.
projects:
  - headline: Aspectran 사용의 실제 사례
    title: Aspectow AppMon
    description: Aspectow AppMon provides an integrated view to observe logs and events of Aspectran-based application servers in real time.
    thumb_img: examples/pr-log-relayer.png
    url: https://public.aspectran.com/monitoring/
    repo: https://github.com/aspectran/aspectow-appmon
  - headline: Aspectran 사용의 실제 사례
    title: JPetStore Demo
    description: JPetStore는 MyBatis 3, Aspectran 6 위에 구축된 완전한 웹 애플리케이션입니다.
    thumb_img: examples/pr-jpetstore.png
    url: https://jpetstore.aspectran.com
    repo: https://github.com/aspectran/aspectran-jpetstore
  - headline: A full-stack sample web application built on top of Aspectran 8
    title: PetClinic Demo
    description: The goal of the PetClinic Demo App is to provide and demonstrate a sample web application that leverages Aspectran and JPA.
    thumb_img: examples/pr-skylark.png
    url: https://petclinic.aspectran.com
    repo: https://github.com/aspectran/aspectran-petclinic
  - headline: TTS (텍스트 음성 변환)
    title: Skylark Terminal
    description: Skylark은 모든 텍스트를 음성으로 변환하는 텍스트 음성 변환 프로그램입니다.
    thumb_img: examples/pr-skylark.png
    url: https://skylark.aspectran.com
    repo: https://github.com/aspectran/skylark
  - headline: Aspectran 사용의 실제 사례
    title: Aspectran Demo Site
    description: 이 사이트는 권장 모범 사례에 따라 Aspectran 응용 프로그램을 개발하는 방법을 보여주기 위해 만든 참조 응용 프로그램 모음입니다.
    thumb_img: examples/pr-demo-site.png
    url: https://demo.aspectran.com
    repo: https://github.com/aspectran/demo-app
  - headline: Aspectran 사용의 실제 사례
    title: Aspectran Demo Site on GAE
    description: 구글 앱엔진에 배포된 Aspectran Demo Site
    thumb_img: examples/pr-demo-site.png
    url: https://demo-gae.aspectran.com
    repo: https://github.com/aspectran/demo-site
---

<div class="row g-4">
  {% for project in page.projects %}
  <div class="col-lg-6">
    <div class="card h-100 shadow-sm">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <p class="text-muted mb-0">{% if project.headline %}{{ project.headline }}{% endif %}</p>
            <h4 class="border-bottom pb-2 mb-3">
              <a href="{{ project.url }}" class="text-decoration-none">{{ project.title }}</a>
              <a href="{{ project.url }}" class="float-end text-decoration-none"><i class="bi bi-box-arrow-up-right"></i></a>
            </h4>
          </div>
          {% if project.thumb_img %}
          <div class="col-md-4">
            <a href="{{ project.url }}" title="{{ project.title | escape_once }}"><img src="{{ site.urlimg }}{{ project.thumb_img }}" class="img-fluid" alt="{{ project.title | escape_once }}"></a>
          </div>
          <div class="col-md-8">
            {% if project.repo %}<p class="source ellipses"><a href="{{ project.repo }}"><i class="bi bi-github"></i> {{ project.repo | remove: "https://github.com/" }}</a></p>{% endif %}
            <p>{% if project.description %}{{ project.description | strip_html | escape }}{% endif %}</p>
          </div>
          {% else %}
          <div class="col-12">
            {% if project.repo %}<p class="source ellipses"><a href="{{ project.repo }}"><i class="bi bi-github"></i> {{ project.repo | remove: "https://github.com/" }}</a></p>{% endif %}
            <p>{% if project.description %}{{ project.description | strip_html | escape }}{% endif %}</p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
