---
layout: default
---
<section itemscope itemtype="https://schema.org/Article">

{% include _masthead.liquid %}

<div class="grid-container">
  {% if page.format contains "plate" %}
    <div class="grid-x grid-padding-x">
      <div class="cell contour">
  {% endif %}

<div class="grid-x grid-padding-x t30">
  <div class="cell">

    <dl class="tabs" data-tabs id="module-tabs">
      {% if content %}
      <dd class="tabs-title is-active"><a href="#overview"><span class="bullet icon-code"></span> GETTING STARTED</a></dd>
      {% endif %}
      {% if page.demo %}
      <dd class="tabs-title" id="tab-demo"><a href="#demo"><span class="bullet icon-browser"></span> EXAMPLE DEMONSTRATION</a></dd>
      {% endif %}
      <dd class="tabs-title" id="tab-reviews"><a href="#reviews"><span class="bullet icon-chat"></span> REVIEWS <span class="indicator icon-chat"></span><span class="count">0 Comments</span></a></dd>
    </dl>

    <div class="tabs-content" data-tabs-content="module-tabs">
      <div class="tabs-panel is-active" id="overview" itemprop="articleSection">
        <div class="grid-x grid-padding-x">

          <div class="cell large-3 large-order-2 b20">
            <aside class="lazy-sticky">
              <div id="toc">
                <div class="toc-title">Table of Contents</div>
                <ul>
                </ul>
              </div>
              {% if page.demo %}
              <div class="t20 show-for-large">
                <h5 class="underline">Running the Application</h5>
                <a href="#top-of-page" onclick="$('#tab-demo').click();"><img src="{{ site.urlimg }}{{ page.image.thumb }}" width="100%" alt="{{ page.title | escape_once }}"></a>
              </div>
              {% endif %}
              <div class="t20">
                <h4 class="underline">Get the Code</h4>
                <p>Below is where you can find the source code for all this example application.</p>
                {% for link in page.download %}
                {% include label-link-box label=link.label href=link.url %}
                {% endfor %}
                <p>The source code for this example application is available on GitHub as individual
                  repositories that can be cloned and directly used as starting points.<p>
              </div>
              {% if site.google_translate_website == true %}
              <div id="google_translate_element"></div>
              {% endif %}
            </aside>
          </div>

          <div class="cell large-9 large-order-1">
            {% if page.asciinema %}
            <div class="asciinema">
              <script type="text/javascript" src="https://asciinema.org/a/{{ page.asciinema }}.js" id="asciicast-{{ page.asciinema }}" async></script>
            </div>
            {% endif %}
            <article>
              {{ content }}
            </article>
          </div>

        </div><!-- /.grid-x -->
      </div>

      {% if page.demo %}
      <div class="tabs-panel" id="demo" itemprop="articleSection">
        {% include_relative demos/{{page.demo}} %}
      </div>
      {% endif %}

      <div class="tabs-panel" id="reviews">
      </div>
    </div>

  </div>
</div>

{% if page.format contains "plate" %}
  </div>
</div>
{% endif %}
</div>

</section>
{% include _comments-count.liquid %}
