---
layout: default
---
<section itemscope itemtype="https://schema.org/Article">

{% include _masthead.liquid %}

  <div class="container contour pt-4 pb-4{% if page.format contains 'fluid' %} fluid{% endif %}">

<div class="row">
  <div class="col">

    <ul class="nav tabs nav-tabs" id="module-tabs" role="tablist">
      {% if content %}
      <li class="tabs-title nav-item" role="presentation">
        <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="overview" aria-selected="true"><i class="bi bi-code-slash"></i> GETTING STARTED</button>
      </li>
      {% endif %}
      {% if page.demo %}
      <li class="tabs-title nav-item" role="presentation">
        <button class="nav-link" id="demo-tab" data-bs-toggle="tab" data-bs-target="#demo" type="button" role="tab" aria-controls="demo" aria-selected="false"><i class="bi bi-display"></i> EXAMPLE DEMONSTRATION</button>
      </li>
      {% endif %}
      <li class="tabs-title nav-item" role="presentation">
        <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false"><i class="bi bi-chat-dots"></i> REVIEWS <span class="badge bg-primary ms-1">0</span></button>
      </li>
    </ul>

    <div class="tab-content" id="module-tabs-content">
      <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab" itemprop="articleSection">
        <div class="row mt-3">

          <div class="col-lg-3 order-lg-2 mb-4">
            <aside class="sticky-top" style="top: 2rem;">
              {% if page.demo %}
              <div class="mt-3 d-none d-lg-block">
                <h5 class="border-bottom pb-2 mb-3">Running the Application</h5>
                <a href="#top-of-page" onclick="document.getElementById('demo-tab').click();"><img src="{{ site.urlimg }}{{ page.image.thumb }}" class="img-fluid" alt="{{ page.title | escape_once }}"></a>
              </div>
              {% endif %}
              <div class="mt-3">
                <h4 class="border-bottom pb-2 mb-3">Get the Code</h4>
                <p>Below is where you can find the source code for all this example application.</p>
                {% for link in page.download %}
                {% include label-link-box.liquid label=link.label href=link.url %}
                {% endfor %}
                <p>The source code for this example application is available on GitHub as individual
                  repositories that can be cloned and directly used as starting points.<p>
              </div>
            </aside>
          </div>

          <div class="col-lg-9 order-lg-1">
            {% if page.asciinema %}
            <div class="asciinema mb-4">
              <script type="text/javascript" src="https://asciinema.org/a/{{ page.asciinema }}.js" id="asciicast-{{ page.asciinema }}" async></script>
            </div>
            {% endif %}
            <article>
              {{ content }}
            </article>
          </div>

        </div><!-- /.row -->
      </div>

      {% if page.demo %}
      <div class="tab-pane fade" id="demo" role="tabpanel" aria-labelledby="demo-tab" itemprop="articleSection">
        {% include_relative demos/{{page.demo}} %}
      </div>
      {% endif %}

      <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
      </div>
    </div>

  </div>
</div>

</div>

</section>
{% include _comments-count.liquid %}
