---
layout: default
---

<style>
  .panel5 {
    border: 0;
    opacity: .8;
    padding: .5em 1em;
    background: linear-gradient(180deg,rgb(53, 59, 62) 0%, rgb(68, 76, 82) 53%, rgb(66, 73, 78) 100%);
  }
</style>
<div id="masthead">
  <div class="container py-4">
    <div class="d-flex align-items-center justify-content-center gap-1">
      <a href="https://github.com/aspectran/aspectran/actions?query=workflow%3A%22Java+CI%22" target="_blank" title="Build Status"><img src="https://github.com/aspectran/aspectran/workflows/Java%20CI/badge.svg" alt="Build Status"/></a>
      <a href="https://central.sonatype.com/artifact/com.aspectran/aspectran-project" target="_blank" title="Maven central"><img src="https://img.shields.io/maven-central/v/com.aspectran/aspectran-project" alt="Maven Central"/></a>
      <a href="https://javadoc.io/doc/com.aspectran/aspectran-all" target="_blank" title="Aspectran API Reference {{ site.data.aspectran.stable_version }}"><img src="https://img.shields.io/badge/javadoc-v{{ site.data.aspectran.stable_version }}-brightgreen.svg" alt="Aspectran API Reference {{ site.data.aspectran.stable_version }}"/></a>
      <a class="d-none d-md-block" href="https://github.com/aspectran/aspectran/blob/master/LICENSE.txt" target="_blank" title="Apache License 2.0"><img src="https://img.shields.io/:license-apache-orange.svg" alt="License"/></a>
    </div>
  </div>
  <div class="container g-0 g-md-4">
    <div class="row g-0 g-md-2">
      <div class="col-md-6 col-lg">
        {% include _frontpage-widget.liquid widget=page.widget1 %}
      </div>
      <div class="col-md-6 col-lg">
        {% include _frontpage-widget.liquid widget=page.widget2 %}
      </div>
      <div class="col-md-6 col-lg">
        {% include _frontpage-widget.liquid widget=page.widget3 %}
      </div>
      <div class="col-md-6 col-lg">
        {% include _frontpage-widget.liquid widget=page.widget4 %}
      </div>
      <div class="col-md-12 col-lg">
        {% include _frontpage-widget.liquid widget=page.widget5 %}
      </div>
    </div>
  </div>
</div>

{% if page.asciinema %}
<div class="asciinema d-lg-none">
  <a href="https://asciinema.org/a/{{ page.asciinema }}"><img src="https://asciinema.org/a/{{ page.asciinema }}.png" class="img-fluid" /></a>
</div>
<div class="asciinema d-none d-lg-block">
  <script type="text/javascript" src="https://asciinema.org/a/{{ page.asciinema }}.js" id="asciicast-{{ page.asciinema }}" async></script>
</div>
{% endif %}

<div class="container">
  <div class="row g-3 pt-3">
    {% for project in site.data.projects[page.lang].sample_projects limit:4 %}
      <div class="col-lg-6">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <p class="text-muted mb-0">{% if project.headline %}{{ project.headline }}{% endif %}</p>
                <h4 class="border-bottom pb-2 mb-3">
                  <a href="{{ project.url }}" class="text-decoration-none">{{ project.title }}</a>
                  <a href="{{ project.url }}" class="float-end text-decoration-none"><i class="bi bi-box-arrow-up-right"></i></a>
                </h4>
              </div>
              {% if project.thumb_img %}
                <div class="col-4">
                  <a href="{{ project.url }}" title="{{ project.title | escape_once }}"><img src="{{ site.urlimg }}{{ project.thumb_img }}" class="img-fluid" alt="{{ project.title | escape_once }}"></a>
                </div>
                <div class="col-8 ps-1">
                  {% if project.repo %}<p class="source ellipses mb-1"><a href="{{ project.repo }}"><i class="bi bi-github"></i> {{ project.repo | remove: "https://github.com/" }}</a></p>{% endif %}
                  <p class="mb-0">{% if project.description %}{{ project.description | strip_html | escape }}{% endif %}</p>
                </div>
              {% else %}
                <div class="col-12">
                  {% if project.repo %}<p class="source ellipses mb-1"><a href="{{ project.repo }}"><i class="bi bi-github"></i> {{ project.repo | remove: "https://github.com/" }}</a></p>{% endif %}
                  <p class="mb-0">{% if project.description %}{{ project.description | strip_html | escape }}{% endif %}</p>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="col-12 text-end mt-1">
      <a href="{{ site.baseurl }}/{{ page.lang }}/projects/"><strong>{{ site.data.messages[page.lang].more }}</strong> <i class="bi bi-arrow-right"></i></a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 mt-4">
      {% unless site.posts == empty %}
      {% for post in site.posts limit:10 %}
        {% if post.lang == page.lang %}
        <div class="mb-2">
          <p class="text-muted text-uppercase mb-0 small">{% if post.categories %}{{ post.categories | join: ' &middot; ' }}{% endif %}{% if post.subheadline %} - {{ post.subheadline }}{% endif %}</p>
          <h3 class="border-bottom pb-2 mb-2"><a href="{{ site.baseurl }}{{ post.url }}" class="text-decoration-none">{{ post.title }}</a></h3>
          <div class="d-flex">
            {% if post.image.thumb %}
            <div class="flex-shrink-0 me-3">
              <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape_once }}"><img src="{{ site.urlimg }}{{ post.image.thumb }}" style="width: 150px; height: 150px;" alt="{{ page.title | escape_once }}"></a>
            </div>
            {% endif %}
            <div class="flex-grow-1">
              <p>
                {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% elsif post.teaser %}{{ post.teaser | strip_html | escape }}{% elsif post.excerpt %}{{ post.excerpt | strip_html | escape }}{% endif %}
                <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape_once }}"><small>{{ site.data.messages[page.lang].read_more }}</small></a>
              </p>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
      <div class="text-end mt-1">
        <a href="{{ site.baseurl }}/blog/"><strong>{{ site.data.messages[page.lang].more }}</strong> <i class="bi bi-arrow-right"></i></a>
      </div>
      {% endunless %}
    </div>
    <div class="col-lg-4 mt-4">
      {% if page.lang == 'ko' %}
        {% include _sidebar_ko.liquid %}
      {% else %}
        {% include _sidebar_en.liquid %}
      {% endif %}
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      {{ content }}
    </div>
  </div>
</div>
