---
layout: default
---
<section itemscope itemtype="https://schema.org/Article">

  {% include _masthead.liquid %}

  <div class="container page-content">

    <div class="row">
      {% if page.sidebar == "toc" %}
      <div class="col-lg-3 order-lg-1{% if page.format contains 'article' %} py-3 py-lg-4{% endif %}">
        {% include _sidebar-toc.liquid %}
      </div>
      {% elsif page.sidebar == "toc-right" %}
      <div class="col-lg-3 order-lg-2{% if page.format contains 'article' %} py-3 py-lg-4{% endif %}">
        {% include _sidebar-toc.liquid side="right" %}
      </div>
      {% endif %}

      {% comment %}
      This block dynamically generates CSS classes based on page.sidebar and page.format.
      {% endcomment %}
      {% assign column_classes = "" %}
      {% assign padding_classes = "" %}

      {% if page.sidebar == 'toc' %}
        {% assign column_classes = "col-lg-9 order-lg-2" %}
      {% elsif page.sidebar == 'toc-right' %}
        {% assign column_classes = "col-lg-9 order-lg-1" %}
      {% elsif page.sidebar == 'left' %}
        {% assign column_classes = "col-lg-8 order-lg-2" %}
      {% elsif page.sidebar == 'right' %}
        {% assign column_classes = "col-lg-8 order-lg-1" %}
      {% elsif page.format contains 'margin' %}
        {% assign column_classes = "col-lg-10 offset-lg-1" %}
      {% endif %}

      {% if page.format contains 'margin' %}
        {% assign padding_classes = "pt-3 pb-5 pt-lg-5" %}
      {% elsif page.format contains 'article' %}
        {% assign padding_classes = "py-3 py-lg-4" %}
      {% endif %}

      <div class="{{ column_classes }} {{ padding_classes }}">
        <article>

          {% if page.inside_heading == true %}

          <header>
            {% if page.image.title %}
            <figure>
              <img itemprop="image" class="img-fluid" src="{{ site.urlimg }}{{ page.image.title }}" alt="{{ page.title | escape_once }}">
              {% if page.image.caption_url and page.image.caption %}
              <figcaption class="text-right">
                <a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
              </figcaption>
              {% elsif page.image.caption %}
              <figcaption class="text-right">
                {{ page.image.caption }}
              </figcaption>
              {% endif %}
            </figure>
            {% endif %}

            {% if page.subheadline %}
            <p class="subheadline" itemprop="alternativeHeadline">{{ page.subheadline }}</p>
            {% endif %}
            <h1 itemprop="headline">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
            {% if page.teaser %}
            <p class="teaser" itemprop="description">{{ page.teaser }}</p>
            {% endif %}
          </header>

          {% endif %}

          <span itemprop="articleBody">
          {{ content }}
          </span>

          {% if page.show_meta == true %}
          {% include _meta_information.liquid %}
          {% endif %}

        </article>

        {% if page.comments == true %}
        <div class="mt-2">
          {% include _comments.liquid %}
        </div>
        {% endif %}

      </div>

      {% if page.sidebar == "right" or page.sidebar == "left" %}
      <div class="mt-4 col-lg-4 {% if page.sidebar == "right" %}order-lg-2{% else %}order-lg-1{% endif %}">
        {% if page.lang == 'ko' %}
          {% include _sidebar_ko.liquid %}
        {% else %}
          {% include _sidebar_en.liquid %}
        {% endif %}
      </div>
      {% endif %}

    </div>

</div>

</section>
