---
layout: page
---
<h2 class="mt-4 mb-3 underline">{{ site.data.projects[page.lang].title.sample_projects }}</h2>
<div class="row g-3">
  {% for project in site.data.projects[page.lang].sample_projects %}
    <div class="col-lg-6">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <p class="text-muted mb-0">{% if project.headline %}{{ project.headline }}{% endif %}</p>
              <h4 class="border-bottom pb-2 mb-3">
                <a href="{{ project.url }}" class="text-decoration-none">{{ project.title }}</a>
                <a href="{{ project.url }}" class="float-end text-decoration-none"><i class="bi bi-box-arrow-up-right"></i></a>
              </h4>
            </div>
            {% if project.thumb_img %}
              <div class="col-4">
                <a href="{{ project.url }}" title="{{ project.title | escape_once }}"><img src="{{ site.urlimg }}{{ project.thumb_img }}" class="img-fluid" alt="{{ project.title | escape_once }}"></a>
              </div>
              <div class="col-8 ps-1">
                {% if project.repo %}<p class="source ellipses mb-1"><a href="{{ project.repo }}"><i class="bi bi-github"></i> {{ project.repo | remove: "https://github.com/" }}</a></p>{% endif %}
                <p class="mb-0">{% if project.description %}{{ project.description | strip_html | escape }}{% endif %}</p>
              </div>
            {% else %}
              <div class="col-12">
                {% if project.repo %}<p class="source ellipses mb-1"><a href="{{ project.repo }}"><i class="bi bi-github"></i> {{ project.repo | remove: "https://github.com/" }}</a></p>{% endif %}
                <p class="mb-0">{% if project.description %}{{ project.description | strip_html | escape }}{% endif %}</p>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<h2 class="mt-4 mb-3 underline">{{ site.data.projects[page.lang].title.starter_projects }}</h2>
<div class="row g-3">
  {% for project in site.data.projects[page.lang].starter_projects %}
    <div class="col-lg-6">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <p class="text-muted mb-0">{% if project.headline %}{{ project.headline }}{% endif %}</p>
              <h4 class="border-bottom pb-2 mb-3">
                <a href="{{ project.url }}" class="text-decoration-none">{{ project.title }}</a>
                <a href="{{ project.url }}" class="float-end text-decoration-none"><i class="bi bi-box-arrow-up-right"></i></a>
              </h4>
            </div>
            <div class="col-4">
              <a href="{{ project.url }}" title="{{ project.title | escape_once }}">
                <img src="https://placehold.co/300x180/353b3e/c3cdd5?text={{ project.caption | escape_once }}&font=raleway" class="img-fluid" alt="{{ project.title | escape_once }}"></a>
            </div>
            <div class="col-8 ps-1">
              {% if project.repo %}<p class="source ellipses mb-1"><a href="{{ project.repo }}"><i class="bi bi-github"></i> {{ project.repo | remove: "https://github.com/" }}</a></p>{% endif %}
              <p class="mb-0">{% if project.description %}{{ project.description | strip_html | escape }}{% endif %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<h2 class="mt-4 mb-3 underline">{{ site.data.projects[page.lang].title.tools_and_libraries }}</h2>
<div class="row g-3">
  {% for project in site.data.projects[page.lang].tools_and_libraries %}
    <div class="col-lg-6">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <p class="text-muted mb-0">{% if project.headline %}{{ project.headline }}{% endif %}</p>
              <h4 class="border-bottom pb-2 mb-3">
                <a href="{{ project.url }}" class="text-decoration-none">{{ project.title }}</a>
                <a href="{{ project.url }}" class="float-end text-decoration-none"><i class="bi bi-box-arrow-up-right"></i></a>
              </h4>
            </div>
            <div class="col-4">
              <a href="{{ project.url }}" title="{{ project.title | escape_once }}">
                <img src="https://placehold.co/300x180/353b3e/c3cdd5?text={{ project.caption | escape_once }}&font=raleway" class="img-fluid" alt="{{ project.title | escape_once }}"></a>
            </div>
            <div class="col-8 ps-1">
              {% if project.repo %}<p class="source ellipses mb-1"><a href="{{ project.repo }}"><i class="bi bi-github"></i> {{ project.repo | remove: "https://github.com/" }}</a></p>{% endif %}
              <p class="mb-0">{% if project.description %}{{ project.description | strip_html | escape }}{% endif %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>